{% extends "forms/base.html" %}

{% block page_content %}
    <main>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% if form %}
                {{ form }}
            {% else %}
                <label for="name">your name</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="age">your age</label><br>
                <input type="text" id="age" name="age"><br>
                <label for="favorite_book">your favorite book</label><br>
                <input type="text" id="favorite_book" name="favorite_book"><br>
            {% endif %}
            <button type="submit">Submit</button>
        </form>
    </main>
{% endblock %}